<footer class="container-fluid mt-4 bg-dark p-3">
    <div class="row text-center">
        <div class="col">
            <a href="/">Главная</a>
        </div>
        <div class="col"><a href="/catalog">Каталог</a></div>
        <div class="col"><a href="/where">Где нас найти?</a></div>

        <% if (usercheck == 'admin') {%>
        <div class="col"><a href="/admin">Админ панель</a></div>
        <% }%>
    </div>
</footer>
