body {
    background-image: url(../img/0cf1432a-2165-4387-a7fa-043dc990d7da.jpg);
}
main {
    margin: auto;
    max-width: 1400px;
    min-height: 900px;
}
h1 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
h2 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
a {
    color: white;
}
